<fs-clipboard>
  <div class="content">
    Suspendisse et nunc imperdiet, volutpat risus a, feugiat augue. Fusce commodo consequat mattis. Aliquam luctus arcu sit amet iaculis varius. Proin et risus placerat, facilisis tellus facilisis, consequat neque. Etiam quis iaculis dolor, vitae suscipit mauris. Curabitur risus justo, ultrices eu augue vel, ultricies imperdiet nibh. 
  </div>
</fs-clipboard>
<br><br><br>
<fs-clipboard 
  [content]="'Copy Custom content with tooltip!'"
  [tooltip]="'Copy Custom content with tooltip'">
  <div class="content">
    Click here to copy custom content with content tooltip
  </div>
</fs-clipboard>